body {
  position: relative;
}

.page {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#register-page,
#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  min-width: 400px;
  text-align: center;
}

nav {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.nav-link,
.logout-btn {
  font-size: 1.4rem;
  padding: 5px;
  color: #3f51b5;
  display: block;
  margin-left: 10px;
  background-color: white;
  cursor: pointer;
  box-sizing: border-box;
}

.nav-link:hover,
.logout-btn:hover,
.nav-link.active:hover {
  color: #304ffe;
  border-bottom: 2px solid #304ffe;
}

.nav-link.active {
  color: #5c6bc0;
  border-bottom: 2px solid #5c6bc0;
}

.logout-btn {
  border: none;
  outline: none;
}

.cards-segment {
  margin: 0px 20px;
  padding: 0px 40px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.no-cards {
  font-size: 3rem;
  color: #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
